body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(219, 190, 151);
    font-variant: small-caps;
}
h1 {
    font-size: 50px;
    background-image: url("./Buồn.jpg");
    color: rgb(255, 240, 221);
    padding-top: 20px;
    padding-bottom: 25px;
    padding-left: 15%;
    padding-right: 15%;
}
