h1 {
    text-align: center;
    color: black;
}

.outer {
    width: 350px;
    height: 350px;
    margin: auto;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: black; */
    flex-wrap: wrap;
}

.kotak1 {
    width: 100px;
    height: 100px;
    background-color: rgb(201, 182, 245);
}

.kotak2 {
    width: 100px;
    height: 100px;
    background-color: rgb(247, 247, 169);
}

.kotak3 {
    width: 100px;
    height: 100px;
    background-color: rgb(165, 248, 165);
}

.kotak4 {
    width: 100px;
    height: 100px;
    background-color: rgb(180, 221, 245);
}

.kotak5 {
    width: 100px;
    height: 100px;
    background-color: rgb(223, 183, 241);
}

.kotak6 {
    width: 100px;
    height: 100px;
    background-color: rgb(250, 216, 177);
}
.kotak7 {
    width: 100px;
    height: 100px;
    background-color: rgb(231, 188, 188);
}
.kotak8 {
    width: 100px;
    height: 100px;
    background-color: rgb(201, 190, 250);
}
.kotak9 {
    width: 100px;
    height: 100px;
    background-color: rgb(220, 250, 150);
}